.Login {
  text-align: center;
}
.Login form {
  padding-top: 20px;
}
.Login section {
  width: 50%;
  margin: 0px auto;
  position: relative;
}
.Login input {
  display: block;
  /* text-align: center; */
  margin: 5px auto 20px auto;
  padding: 10px 10px;
  width: 90%;
  border: none;
  background-color: #eee;
}

.Login button {
  display: block;
  background-color: #4caf50;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 50px auto;
  color: #eee;
  width: 125px;
  text-transform: uppercase;
}
.Login label {
  font-size: 16px;
  width: 90%;
  position: relative;
  left: 0;
  text-align: left;
  /* transform: translateX(-100%); */
}
.Login p {
  background-color: rgb(240, 159, 172);
  color: red;
  width: 80%;
  margin: 10px auto;
}
.Login span {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.Login ul {
  display: block;
  list-style: none;
  display: flex;
  /* border: 1px solid black; */
  background-color: #ddd;
  padding: 0;
  width: 80%;
  margin: auto;
}
.Login ul li {
  flex-grow: 1;

  height: 35px;
  line-height: 35px;
}
.Login ul li.active {
  background-color: #1ab188;
  color: #fff;
}

.Login .showPwd {
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  margin: 0;
  color: black;
  width: auto;
}
