body {
  font-family: "Noto Sans TC", sans-serif !important;
  /* text-align: center; */
  height: 100vh;
}
.App {
  /* background-color: #eee; */
  height: 100vh;
  box-sizing: border-box;
}
.up {
  position: absolute;
  top: 50px;
  overflow: hidden;
  padding: 0px 20px;
  width: 100%;
}
.main {
  position: relative;
  top: 180px;
}

@media screen and (max-width: 768px) {
  .main {
    top: 220px;
  }
}

.AppDark {
  background-color: #313131;
  /* color: #fff; */
}
