.titleBar ul {
  list-style: none;
  display: flex;
  padding: 0px 0px 10px 0px;
  margin: 10px;
  border-bottom: 1px solid lightgray;
}
.titleBar li {
  /* flex-grow: 1; */
  flex-basis: 20%;
}
.titleBar li:first-child,
.titleBar li:nth-child(2) {
  /* flex-grow: 0.5; */
  flex-basis: 10%;
}
.titleBar button {
  outline: none;
  border: none;
  margin: 3px;
  background-color: #fff;
}

.titleBarDark {
  /* background-color: #414141; */
  color: #fff;
}

.titleBarDark button {
  background-color: #313131;
}
